<section *ngIf="step1" class="w-1/2 mx-auto rounded-lg shadow-lg bg-gray-100 p-6">
    <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-700">Email</label>
        <input formControlName="email" type="email" id="email" class="form-input w-full p-2 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500">
        <button class="bg-blue-600 text-white w-full py-2 mt-4 rounded-lg hover:bg-blue-700 transition">Forgot Password</button>
        <p *ngIf="userMsg" class="bg-green-100 text-green-700 w-3/4 mx-auto mt-3 p-2 rounded-md">{{userMsg}}</p>
    </form>
</section>

<section *ngIf="step2" class="w-1/2 mx-auto rounded-lg shadow-lg bg-gray-100 p-6">
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
        <label for="resetCode" class="block mb-2 text-sm font-medium text-gray-700">Reset Code</label>
        <input formControlName="resetCode" type="text" id="resetCode" class="form-input w-full p-2 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500">
        <button class="bg-blue-600 text-white w-full py-2 mt-4 rounded-lg hover:bg-blue-700 transition">Reset Code</button>
        <p *ngIf="userMsg" class="bg-green-100 text-green-700 w-3/4 mx-auto mt-3 p-2 rounded-md">{{userMsg}}</p>
    </form>
</section>

<section *ngIf="step3" class="w-1/2 mx-auto rounded-lg shadow-lg bg-gray-100 p-6">
    <form [formGroup]="resetPassword" (ngSubmit)="newPassword()">
        <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-700">Reset Password</label>
        <input formControlName="newPassword" type="text" id="newPassword" class="form-input w-full p-2 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500">
        <button class="bg-blue-600 text-white w-full py-2 mt-4 rounded-lg hover:bg-blue-700 transition">Reset Password</button>
        <p *ngIf="userMsg" class="bg-green-100 text-green-700 w-3/4 mx-auto mt-3 p-2 rounded-md">{{userMsg}}</p>
    </form>
</section>
