<section class="md:w-1/2 mx-auto bg-gray-50 p-4 border shadow">
    <h1  class="text-3xl font-light text-center text-green-600">{{'login.title' | translate}}</h1>
    <form  [formGroup]="login" (ngSubmit)="submit()">
 <div class="mb-1">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">{{'login.form.email' | translate }}</label>
    <input formControlName = "email" type="email" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
@if(login.get("email")?.errors && login.get("email")?.touched){
    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Danger</span>
  <div>
      <ul class="mt-1.5 list-disc list-inside">
   @if (login.get("email")?.getError("required")) { <li>{{'login.form.validtion.emailvalditon' | translate }}</li>}
      @if (login.get("email")?.getError("email")) { <li>Entet a vail Email</li>}     


    </ul>
  </div>
</div>
}
</div>
      <div class="mb-1">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900">{{'login.form.password' | translate }}</label>
    <input formControlName = "password" type="password" id="password" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
@if(login.get("password")?.errors && login.get("password")?.touched){
    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Danger</span>
  <div>
      <ul class="mt-1.5 list-disc list-inside">
   @if (login.get("password")?.getError("required")) { <li>{{'login.form.validtion.passvaldtion' | translate }}</li>}
   @if (login.get("password")?.getError("pattern")) { <li>Enter a vaild Password</li>}     

    </ul>
  </div>
</div>
}
</div>

<button [disabled]="login.invalid" type="submit"  class="btn-main">{{'login.form.signin' | translate }} @if (isLoading) {<span><i class="fas fa-spin  fa-spinner "></i></span>}</button>
@if (message) {<p class="bg-red-400 text-white px-2 py-6 border">{{'login.form.validtion.valid' | translate }}</p>
}    
</form>
</section>