<section class="md:w-1/2 mx-auto bg-gray-50 p-4 border shadow">
    <h1 class="text-3xl font-light text-center text-green-600">{{ 'register.title' | translate }}</h1>
    <form  [formGroup]="register" (ngSubmit)="submit()">
        <div class="mb-1">
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">{{ 'register.form.name' | translate }}</label>
    <input formControlName = "name" type="text" id="name" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">

@if(register.get("name")?.errors && register.get("name")?.touched){
    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Danger</span>
  <div>
      <ul class="mt-1.5 list-disc list-inside">
   @if (register.get("name")?.getError("required")) { <li>{{ 'register.form.errors.required' | translate }}</li>}
   @if (register.get("name")?.getError("minlength") || register.get("name")?.getError("maxlength")) { <li>{{ 'register.form.errors.nameLength' | translate }}</li>}     

    </ul>
  </div>
</div>
}
</div>
      <div class="mb-1">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">{{ 'register.form.email' | translate }}</label>
    <input formControlName = "email" type="email" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
@if(register.get("email")?.errors && register.get("email")?.touched){
    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Danger</span>
  <div>
      <ul class="mt-1.5 list-disc list-inside">
   @if (register.get("email")?.getError("required")) { <li>{{ 'register.form.errors.required' | translate }}</li>}
      @if (register.get("email")?.getError("email")) { <li>{{ 'register.form.errors.invalidEmail' | translate }}</li>}     


    </ul>
  </div>
</div>
}
</div>
      <div class="mb-1">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900">{{ 'register.form.password' | translate }}</label>
    <input formControlName = "password" type="password" id="password" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
@if(register.get("password")?.errors && register.get("password")?.touched){
    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Danger</span>
  <div>
      <ul class="mt-1.5 list-disc list-inside">
   @if (register.get("password")?.getError("required")) { <li>{{ 'register.form.errors.required' | translate }}</li>}
   @if (register.get("password")?.getError("pattern")) { <li>{{ 'register.form.errors.invalidPassword' | translate }}</li>}     

    </ul>
  </div>
</div>
}
</div>
      <div class="mb-1">
    <label for="rePassword" class="block mb-2 text-sm font-medium text-gray-900">{{ 'register.form.rePassword' | translate }}</label>
    <input formControlName = "rePassword" type="password" id="rePassword" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
@if(register.get("rePassword")?.errors && register.get("rePassword")?.touched){
    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Danger</span>
  <div>
      <ul class="mt-1.5 list-disc list-inside">
   @if (register.get("rePassword")?.getError("required")) { <li>{{ 'register.form.errors.required' | translate }}</li>}
   @if (register.getError("misMatch") && register.get("password")?.touched) { <li>{{ 'register.form.errors.mismatch' | translate }}</li>}     

    </ul>
  </div>
</div>
}
</div>
      <div class="mb-1">
    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900">{{ 'register.form.phone' | translate }}</label>
    <input formControlName = "phone" type="tel" id="phone" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
@if(register.get("phone")?.errors && register.get("phone")?.touched){
    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Danger</span>
  <div>
      <ul class="mt-1.5 list-disc list-inside">
   @if (register.get("phone")?.getError("required")) { <li>{{ 'register.form.errors.required' | translate }}</li>}
   @if (register.get("phone")?.getError("pattern")) { <li>{{ 'register.form.errors.invalidPhone' | translate }}</li>}     


    </ul>
  </div>
</div>
}
</div>
<button [disabled]="register.invalid" type="submit"  class="btn-main">      {{ 'register.form.signup' | translate }} @if (isLoading) {<span><i class="fas fa-spin  fa-spinner "></i></span>}</button>
@if (message) {<p class="bg-red-400 text-white px-2 py-6 border">{{ 'register.messages.error' | translate }}</p>
}    
</form>
</section>