@if(cartDetails.totalCartPrice) {
  <section class="bg-gray-50 rounded border shadow p-4 w-[75%] mx-auto">
    <h1 class="text-center text-3xl text-green-600">Shop Cart</h1>

    <div class="flex items-center justify-between mb-4">
      <span class="text-green-600 text-xl font-semibold">Total Cart Price: {{cartDetails.totalCartPrice | currency}}</span>
      <button (click)="clearItems()" class="bg-red-600 border rounded text-xs px-10 py-3 text-white hover:bg-red-700 transition">Clear Cart</button>
    </div>

    @for (prod of cartDetails.products; track prod.product.id) {
      <div class="grid md:grid-cols-[10%_minmax(0,1fr)] border-b mb-2 pb-2">
        <div>
          <img [src]="prod.product.imageCover" class="w-full h-[100px] object-contain" [alt]="prod.product.title">
        </div>

        <div class="flex justify-between items-center w-full">
          <div>
            <h3 class="text-lg font-medium">{{prod.product.title}}</h3>
            <h4 class="text-gray-600">Price: {{prod.price | currency}}</h4>
            <button (click)="removeItem(prod.product.id)" class="text-red-600 hover:text-red-700 transition">
              <i class="fas fa-trash-can"></i> Remove
            </button>
          </div>

          <div class="flex items-center gap-4">
            <button (click)="updateCount(prod.product.id, prod.count + 1)" class="text-green-600 text-2xl hover:text-green-700 transition">
              <i class="fa-regular fa-square-plus"></i>
            </button>
            <span class="text-lg">{{prod.count}}</span>
            <button (click)="updateCount(prod.product.id, prod.count - 1)" class="text-green-600 text-2xl hover:text-green-700 transition">
              <i class="fa-regular fa-square-minus"></i>
            </button>
          </div>
        </div>
      </div>
    }

    <button class="btn-main bg-green-600 text-white py-3 px-8 rounded-md hover:bg-green-700 transition w-full mt-4" [routerLink]="['/checkout', cartDetails._id]">
      Checkout
    </button>
  </section>
}
@else {
  <section class="bg-gray-50 rounded border shadow p-4 w-[75%] mx-auto text-center">
    <h1 class="text-3xl text-red-600">Your Cart is Empty</h1>
    <p class="text-gray-600 mt-4 mb-6">Looks like you haven't added any products to your cart yet.</p>
    
    <button class="bg-green-600 text-white py-3 px-8 rounded-md hover:bg-green-700 transition" [routerLink]="['/proudcts']">
      Continue Shopping
    </button>
  </section>
}