@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'ngx-toastr/toastr';
.btn-main{
    @apply disabled:bg-gray-600 bg-green-600 text-white px-12 py-2 border rounded hover:bg-green-400 transition-all duration-500
}